        h1 {
            font-family: 'Dancing Script', cursive;
            color: rgb(0, 84, 163);
            font-weight: 600;
            font-size: 300%;
            background-color: rgba(127, 173, 243, 0.582);
            position: relative;
            bottom: 300px;
            width: 100%;
            text-align: center;
            margin-bottom: -1;
        }
        
        p {
            font-family: 'Dancing Script', cursive;
            color: rgb(4, 40, 73);
        }
        
        #menu ul {
            background: #ecf6ff;
            list-style-type: none;
            text-align: center;
            width: 100%;
        }
        
        #menu li {
            color: #f1f1f1;
            display: inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            position: relative;
        }
        
        #menu a {
            text-decoration: none;
            color: rgb(2, 13, 63);
            display: block;
        }
        
        #menu a:hover {
            background: #6f71c0;
            color: #333;
        }
        
        ul.dropdown {
            display: none;
            position: absolute;
            top: 100%;
            background-color: #e9d8f4;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding-left: 0;
        }

        
        .sub-menu:hover ul {
            display: block;
        }

        img{
            width: 100%;
        }

        .cover-image{
            max-width: 100%;
        }